.but {
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .3s;
}
.but:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46,229,157,.4);
  color: white;
  transform: translateY(-7px);
}

body {
  background-color:#9370DB;
}

.golov{
  color:#FFE4C4; 
}

.info{
  color:#FFE4B5;
}

.graph{
  background-color: white;
  width:65%;
  margin-left:20%;
  color:black;
  border-radius:8px;
}

.oll{
  background-color: lightyellow;
  margin: auto;
  border:1px solid black;
  border-radius: 8px;
  width: 64.8%;
  height: 450px;
  overflow: auto;

}

.card{
  width: 400px;
  height: 200px;
  border: 2px solid black;
  border-radius: 8px;
  overflow: auto;
  float:left;
  margin: 3px;
}

.foto{
  height: 200px;
  width: 250px;
  float: left;
}

.table{
  width: 500px;
  height: 550px;
  border: 1px solid red;
  margin-left: auto;
  margin-right: auto;
}

.cell{
  width: 100px;
  height: 50px;
  border:1px solid black;
  float:left;
  box-sizing: border-box;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-weight: bold;
}

.cell1{
  width: 100px;
  height: 50px;
  border:1px solid black;
  float:left;
  box-sizing: border-box;
  font-weight: 800;
}

.row:nth-child(odd)>.cell:nth-child(odd){
  background-color: #AFEEEE;
}

.row:nth-child(even)>.cell:nth-child(even){
  background-color: #AFEEEE;
}

.row:nth-child(odd)>.cell:nth-child(even){
  background-color: #FFE4C4;
}

.row:nth-child(odd)>.cell1:nth-child(even){
  background-color: #66CDAA;
}

.row:nth-child(odd)>.cell1:nth-child(odd){
  background-color: #66CDAA;
}

.row:nth-child(even)>.cell:nth-child(odd){
  background-color: #FFE4C4;
}
